@{
    ViewData["Title"] = "Create page";
}
<h1>@ViewData["Title"]</h1>

<p>Navigation to creating objects</p>

<ul>
    <li>
        <a class="nav-link text-dark btn btn-outline-primary" asp-area="" asp-controller="Games" asp-action="Create">Add game</a>
    </li>                 
    <li>                  
        <a class="nav-link text-dark btn btn-outline-primary" asp-area="" asp-controller="Developers" asp-action="Create">Add developer</a>
    </li>                 
    <li>                  
        <a class="nav-link text-dark btn btn-outline-primary" asp-area="" asp-controller="Publishers" asp-action="Create">Add publisher</a>
    </li>                 
    <li>                  
        <a class="nav-link text-dark btn btn-outline-primary" asp-area="" asp-controller="Tags" asp-action="Create">Add tag</a>
    </li>
</ul>