@{
    ViewData["Title"] = "Home Page";
}

<div class="index">
    <span class="hello">Hello</span>
    <table>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>